<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ImageReference</key>
	<string>cover.png</string>
	<key>Chapters</key>
	<array>
		<string>Chapter0.playgroundchapter</string>
		<string>Chapter1.playgroundchapter</string>
		<string>Chapter2.playgroundchapter</string>
		<string>Chapter3.playgroundchapter</string>
	</array>
	<key>ContentIdentifier</key>
	<string>com.example.PlaygroundBook</string>
	<key>ContentVersion</key>
	<string>1.0.1</string>
	<key>DeploymentTarget</key>
	<string>ios10.3</string>
	<key>DevelopmentRegion</key>
	<string>en</string>
	<key>Name</key>
	<string>Name</string>
	<key>SwiftVersion</key>
	<string>5.0</string>
	<key>Version</key>
	<string>4.0</string>
</dict>
</plist>
